/* C O N F I G */
:root {
    --white: #fafafa;
    --gray: #656566;
    --black: rgba(1, 2, 3, 1.0);
}

body {
    background: var(--white);
    font-family: 'Lora', Georgia, serif;

}

::selection {
    background: #EEE; 
}

/* N A V */


.navContainer {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    border-bottom: 1px solid var(--black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
}
nav a {
    text-transform: lowercase;
    text-decoration: none;
    color: var(--black);
    transition: 0.3s;
    padding: 0px 17.5px;
    font-size: 1em;
}

nav p {
    font-size: 1em;
    color: var(--black);
}

nav li:after {
    content: "—";
    color: var(--black) ; /* Or a color you prefer */
}

nav li:last-child::after {
    content: "";
}

nav a:hover {
    color: var(--gray);
    transition: 0.3s;
}

/* H O M E */

.home {
    /* height: 50vh; */
}

.homeContainer {
    height: 30vw;
    background: url(../img/image.png) no-repeat scroll center;
    background-size: contain;
    margin: 10% 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.home h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: var(--black);
    padding-bottom: 15px;
}

.home p {
    font-size: 1.125em;
    text-transform: lowercase;
    letter-spacing: 0.15em;
    color: var(--black);
    font-style: italic;
}

/* A B O U T */
.about {
    /* height: 100vh; */
    display: flex;
    align-items: center;
}
.aboutContainer {
    max-width: 50vw;
    margin: 0 auto;
    padding: 15vh 0;
    display: flex;
    flex-wrap: wrap;
    
}

.aboutImage {
    margin-right: 48px;
    margin-bottom: 20px;
    flex: 1 300px;

}

.aboutImage img {
    max-width: 100%;
    
}

.aboutText {
    flex: 1 300px;
}

.aboutText h2 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: var(--black);
    padding-bottom: 15px;
}

.aboutText p {
    line-height: 1.4em;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-bottom: 1em;
}

.aboutText .line {
    width: 100%;
    height: 1px;
    background: var(--gray);
}

.quote {
    padding: 20px 0;
}

.quote p {
    font-size: 1.25em;
    font-style: italic;
    letter-spacing: 0.14em;

}

.quote cite {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.14em;
}

.quote cite::before {
    content: "—";
    padding-left: 5px;
}

/* P O R T F O L I O */
.portfolio {
    /* height: 100vh; */
}

.portfolioContainer {
    max-width: 55vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10vh 0;
}

.portfolioContainer h2 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: var(--black);
    text-align: center;
}
.portfolioBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.portfolioItem {
    width: 15vw;
    height: 15vw;
    min-width: 100px;
    min-height: 100px;
    background-color: #fff;
    margin: 10px;
    border: 1px solid var(--gray);

}

/* C O N T A C T */


.contactContainer {
    max-width: 55vw;
    min-height: 30vw;
    background: url(../img/image-2.png) no-repeat scroll center;
    background-size: contain;
    margin: 0 auto;
    padding: 10vh 0;
}

.contactContainer h2 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: var(--black);
    text-align: center;
}

.contactContainer form {
    display: flex;
    width: 50vw;
    max-width: 550px;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 15px;

}

.contactContainer label {
    font-style: italic;
    letter-spacing: 0.03em;
    padding: 10px 0;
}

.contactContainer input, .contactContainer textarea {
    outline: none;
    background: var(--white);
    border: 1px solid var(--gray);
    font-family: 'Lora', serif;
    font-size: 1em;
    font-style: italic;
    color: var(--gray);
    padding: 3px;
}

.contactContainer textarea {
    height: 200px;
}

.contactContainer button {
    margin: 20px auto;
    width: 120px;
    height: 40px;
    background: var(--black);
    border: none;
    outline: none;
    color: var(--white);
    font-family: 'Lora', serif;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    transition: 0.3s;
}

.contactContainer button:hover {
    background: var(--gray);
    transition: 0.3s;

}
